<ion-header>
  <ion-navbar>
    <ion-title>Level {{level.id}} : {{level.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <div class="cardContainer" *ngFor="let card of cards; let idx = index;">
    <ion-card (click)="imgClicked(idx)">
      <img class="card-img" src="{{card.uri}}" />
      <div class="card-title">{{card.title}}</div>
      <div class="card-subtitle">{{card.score}} / 10</div>
    </ion-card>
  </div>
  <!--
  Latest Picture:
  <img [src]="cameraPicture" *ngIf="cameraPicture" />
  -->
  <!--
  <button ion-button (click)="buttonClicked()">
    <ion-icon name='ios-camera-outline' padding-right="10"></ion-icon>
    SNAP IT
  </button>
  -->
</ion-content>
