<ion-header>
  <ion-navbar>
    <ion-title>{{level.getTitle()}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="card-background-page">
    <div class="cardContainer" *ngFor="let card of cards; let idx = index;" (click)="imgClicked(idx)">
      <div class="card">
        <img class="card-img" src="{{card.getIllustrationURI()}}"/>
        <div class="card-title">{{card.getTitle()}}</div>
        <div *ngIf="card.bestScore() > 0" class="card-subtitle">{{card.bestScore().toFixed(2)}} / 10</div>
      </div>
    </div>
  </div>
</ion-content>
