page-level {
  .card-background-page {

    $columns : 2;
    $cardWidth : ((100% - (4% + 2 * ($columns - 1))) / $columns);

    margin: 1% 0 1% 1%;

    .cardContainer {
      position: relative;
      display: inline-block;
      float:left;
      width: $cardWidth;
      padding-bottom: $cardWidth;
      margin: 1%;
    }

    .card {
      position: absolute;
      height: 100%;
      width: 100%;
      margin: 0;
      background-color: black;
      border-radius: 50%;
    }

    .card-img {
      object-fit: cover ;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0.8;
    }

    .card-title {
      position: absolute;
      text-align: center;
      top: 9%;
      width: 100%;
      font-size: 1.2em;
      font-weight: bold;
      color: white;
    }

    .card-subtitle {
      position: absolute;
      text-align: center;
      top: 81%;
      width: 100%;
      font-size: 1.0em;
      color: white;
    }

  }
}
