<ion-header>
  <ion-navbar>
    <ion-title>Snap Them All</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item
      *ngFor="let level of levels(); let idx = index"
      (click)="itemSelected(level)"
      [class.levelLocked]="level.isLocked(score())"
      [class.levelUnlocked]="level.isUnlocked(score())"
    >
      <ion-icon name="lock" ></ion-icon>
      <ion-thumbnail item-left>
        <img src="assets/numbers/{{idx + 1}}.png"/>
      </ion-thumbnail>
      <h2>Level {{idx + 1}}</h2>
      <p>{{level.getTitle()}}</p>
      <p *ngIf="level.isUnlocked(score())" item-right>{{level.score()}} / {{level.getCards().length * 10}}</p>
      <p *ngIf="level.isLocked(score())" item-right>Locked [{{level.getScoreToUnlock()}}]</p>
    </ion-item>
    <ion-item>
      <p text-center>Total Score : {{score().toFixed(2)}}</p>
    </ion-item>
  </ion-list>
</ion-content>
