page-play {


  ion-item.levelLocked {
    opacity: 0.4;

    ion-icon {
      position: absolute;
      left: 50%;
      font-size: 40px;
    }
  }



  ion-item.levelUnlocked {
    ion-icon {
      display: none;
    }
  }


  $lineHeight: 50px;

  .item-md ion-thumbnail {
    min-width: $lineHeight;
    min-height: $lineHeight;
  }

  .item-md ion-thumbnail img {
    width: $lineHeight;
    height: $lineHeight;
  }
}


