<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border no-lines>

    <ion-item>
      <ion-icon name='logo-facebook' item-left></ion-icon>
      <ion-label>
        Logged with facebook
      </ion-label>
    </ion-item>

    <div text-center>
      <button ion-button color="dark" (click)="logoutButton()" >
        Logout
      </button>
    </div>

    <ion-item>
      <ion-icon name='contacts' item-left></ion-icon>
      <ion-label>
        {{numberOfFriendsPlaying}} out of {{numberOfFriends}} friends are playing
      </ion-label>
    </ion-item>

    <div text-center>
      <button ion-button color="dark" (click)="inviteButton()" >
        Invite Friends
      </button>
    </div>

    <div *ngIf="numberOfPicturesToUpload > 0">
      <ion-item>
        <ion-icon name='cloud-upload' item-left></ion-icon>
        <ion-label>
          {{displayPicturesToUpload()}}
        </ion-label>
      </ion-item>
      <div text-center>
        <button ion-button color="dark" (click)="uploadButton()" >
          Upload
        </button>
      </div>
    </div>

    <div *ngIf="numberOfPicturesToDownload > 0">
      <ion-item>
        <ion-icon name='cloud-download' item-left></ion-icon>
        <ion-label>
          {{displayPicturesToDownload()}}
        </ion-label>
      </ion-item>

      <div text-center>
        <button ion-button color="dark" (click)="downloadButton()" >
          Download
        </button>
      </div>
    </div>

    <div>
      <ion-item>
        <ion-icon name='help-buoy' item-left></ion-icon>
        <ion-label>
          How to play ?
        </ion-label>
      </ion-item>

      <div text-center>
        <button ion-button color="dark" (click)="helpButton()" >
          Need Help
        </button>
      </div>
    </div>

    <div>
      <ion-item>
        <ion-icon name='paper-plane' item-left></ion-icon>
        <ion-label>
          Leave us a message :)
        </ion-label>
      </ion-item>

      <div text-center>
        <button ion-button color="dark" (click)="feedbackButton()" >
          Send
        </button>
      </div>
    </div>

  </ion-list>

</ion-content>
