//COLORS
$light: #f4f4f4;
$dark:  #222;


// Content + StatusBar + TabBar transparent => apply a texture
$toolbar-background: transparent;
$tabs-background: transparent;
$background-color: transparent;
$list-background-color: transparent;

// Texture for tool bar, tab bar and content
.toolbar{
  background-image: url("../assets/img/backgrounds/texture_dark_1350x2400.jpg");
  background-size: cover;
}

.tabbar {
  background-image: url("../assets/img/backgrounds/texture_dark_1350x2400.jpg") !important;
  background-size: cover !important;
}

ion-content{
  background-image: url("../assets/img/backgrounds/texture_light_1350x2400.jpg");
  background-size: cover;
}

// Tab icons colors
$tabs-tab-color-active: $light;
$tabs-tab-color-inactive: #8d8d8d;


$tabs-ios-tab-color-inactive: $tabs-tab-color-inactive;
$tabs-md-tab-color-inactive: $tabs-tab-color-inactive;

//title color font
ion-title {
  .toolbar-title-md {
    color: $light;
  }
}
