<ion-header>

  <ion-toolbar>
    <ion-title>
      {{card.getTitle()}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let picture of card.getPictures(); let i = index">
      <div class="squareContainer">
        <div class="imageContainer">
          <img src="{{picture.pictureURI}}"/>
        </div>
      </div>
      <p *ngIf="i == 0">Best Score : {{card.bestScore()}}</p>
      <p *ngIf="i > 0 && picture.score == 0">Computing score..</p>
      <p *ngIf="picture.score > 0">Score : {{picture.score.toFixed(2)}}</p>
      <div text-center >
      <button ion-button color="dark" (click)="snapItButtonClicked()">
        <ion-icon name='camera' padding-right="10"></ion-icon>
        SNAP<span *ngIf="i == 0">&nbsp;IT</span><span *ngIf="i > 0">&nbsp;AGAIN</span>
      </button>
      <button ion-button color="dark" (click)="removeButtonClicked(i)" *ngIf="i > 0">
        <ion-icon name='trash' padding-right="10"></ion-icon>
        REMOVE
      </button>
      <button ion-button color="dark" (click)="computeScoreButtonClicked(i)"
              *ngIf="i > 0 && picture.score == 0 && !uploadInProgress"
      >
        COMPUTE SCORE
      </button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
