<ion-header>

  <ion-toolbar>
    <ion-title>
      {{card.getTitle()}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <div class="squareContainer">
        <div class="pictureContainer">
          <img class="illustration" src="{{card.getIllustrationURI()}}"/>
        </div>
      </div>
      <p class="snap-title-font bold" *ngIf="card.getPictures().length > 0">Total Score: {{card.totalScore().toFixed(2)}}</p>
      <button
        (click)="cameraButtonClicked()"
        ion-button color="dark" icon-left
      >
        <ion-icon name='camera'></ion-icon>
        SNAP IT
      </button>
    </ion-slide>

    <ion-slide *ngFor="let picture of card.getPictures();">
      <div class="squareContainer">
        <div class="pictureContainer">
          <img class="picture" src="{{picture.getPictureURI()}}"/>
        </div>
      </div>
      <p class="snap-title-font bold">{{displayScore(picture)}}</p>

      <button
        (click)="cameraButtonClicked()"
        ion-button color="dark" icon-only
      >
        <ion-icon name='camera'></ion-icon>
      </button>

      <button
        *ngIf="picture.canRemove()"
        (click)="removeButtonClicked(picture)"
        ion-button color="dark" icon-only
      >
        <ion-icon name='trash'></ion-icon>
      </button>

      <button
        *ngIf="picture.canUpload()"
        (click)="uploadButtonClicked(picture)"
        ion-button color="dark" icon-only
      >
        <ion-icon name='cloud-upload'></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
