<ion-header>

  <ion-toolbar>
    <ion-title>
      {{card.title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-slides pager (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let pictureURI of card.picturesURI; let i = index">
      <div class="squareContainer">
        <div class="imageContainer">
          <img src="{{pictureURI}}"/>
        </div>
      </div>
      <p>score : {{card.score(i)}}</p>
      <button text-center ion-button class="snap-it-button" (click)="snapItButtonClicked()">
        <ion-icon name='ios-camera-outline' padding-right="10"></ion-icon>
        SNAP IT<span *ngIf="card.bestPictureIndex > 0">&nbsp;AGAIN</span>
      </button>
      <button text-center ion-button class="snap-it-button" (click)="uploadButtonClicked(i)">
        UPLOAD IT
      </button>
    </ion-slide>
  </ion-slides>
  <!--<img src="{{card.bestPictureURI()}}"/>
  <p *ngIf="card.bestPictureIndex > 0">
  </p>
  -->
</ion-content>
